<!doctype html>
<html lang="en">
<head>
{% include "head.njk" %}
</head>
<body class="dark">

  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ siteConfig.pathPrefix }}">
        <svg width="32" height="32" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fillRule="evenodd" clipRule="evenodd" fill="var(--text-main)"
            d="M36.9477 13.7742C38.3043 11.4086 41.6957 11.4086 43.0523 13.7742L70.5226 61.6774C71.8791 64.043 70.1834 67 67.4703 67H12.5297C9.81658 67 8.12089 64.043 9.47744 61.6774L36.9477 13.7742ZM40 16.9677L13.7506 62.7419H66.2494L40 16.9677Z" />
        </svg>
        <h4>{{ siteConfig.title }}</h4>
      </a>
      <div class="navbar-item navbar-dark-mode__mobile is-hidden-tablet">
        {# <DarkMode /> #}
      </div>
      <button
        class="navbar-burger button-link"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-main"
        onClick="handleHamburgerMenuClick(event)">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </button>
    </div>

    <div class="navbar-menu" id="navbar-main">
      <div class="navbar-start">
        {% for menuItem in siteConfig.headerMenu %}
          {% if menuItem.menu %}
            <span class="navbar-item dropdown">
              <a href="{{ siteConfig.pathPrefix }}{{ menuItem.item }}"
                id="dropdown-{{menuItem.item}}"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">{{ menuItem.title }}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown-{{ menuItem.item }}">
                {% for submenuItem in menuItem.menu %}
                  {{ submenuItem | menu | safe  }}
                {% endfor %}
              </div>
            </span>
          {% else %}
            {{ menuItem | menu | safe }}
          {% endif %}
        {% endfor %}
      </div>

      <div class="navbar-end is-hidden-mobile">
        <div class="navbar-item">
          <div id="navbar-search"></div>
          <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ element: "#navbar-search", showSubResults: true, showImages: false });
            });
          </script>
        </div>
        <div class="navbar-item">
          <span id="themeToggle" onClick="themeToggle()">
            <span class="theme-toggle-text">Toggle</span>
          </span>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="columns is-centered">
      {{ content | safe }}
    </div>
  </section>

</body>
</html>