<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&amp;display=swap" rel="stylesheet" />

<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ siteConfig.title }}{% endif %}" />
<meta property="og:description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ siteConfig.description }}{% endif %}" />
<meta property="og:url" content="{{ page.url | absoluteUrl }}" />
{% if type == 'note' %}<meta property="og:type" content="article" />
{% else %}<meta property="og:type" content="website" />
{% endif %}

{% set excerpt = excerpt | truncate(100) %}
<meta name="description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ siteConfig.description }}{% endif %}" />
<link rel="canonical" href="{{ page.url | absoluteUrl }}" />

<title>{% if title %}{{ title }} | {% endif %}{{ siteConfig.title }}</title>

<link rel="alternate" type="application/rss+xml" title="{{ siteConfig.title }} - RSS Feed" href="{{ 'rss.xml' | absoluteUrl }}" />

<link rel="apple-touch-icon" href="{{ 'assets/img/favicon.png' | absoluteUrl }}" />
<link rel="icon" href="{{ 'assets/img/favicon.png' | absoluteUrl }}" type="image/png" sizes="16x16" />

<script src="{{ 'assets/js/script.js' | absoluteUrl }}"></script>
<link rel="stylesheet" href="{{ 'assets/styles/common/bulma.css' | absoluteUrl }}" />
<link rel="stylesheet" href="{{ 'assets/styles/common/style.css' | absoluteUrl }}" />
<link rel="stylesheet" href="{{ 'assets/styles/common/custom.css' | absoluteUrl }}" />
<link rel="stylesheet" href="{{ 'assets/styles/common/util.css' | absoluteUrl }}" />

<link rel="stylesheet" href="{{ 'assets/styles/note.css' | absoluteUrl }}" />

{% if type == 'index' %}<link rel="stylesheet" href="{{ 'assets/styles/index.css' | absoluteUrl }}" />
{% elif type == 'tag' %}<link rel="stylesheet" href="{{ 'assets/styles/tag-list.css' | absoluteUrl }}" />
{% elif type == 'sitemap' %}<link rel="stylesheet" href="{{ 'assets/styles/pager.css' | absoluteUrl }}" />
{% endif %}

<link href="{{ 'pagefind/pagefind-ui.css' | absoluteUrl }}" rel="stylesheet">
<script src="{{ 'pagefind/pagefind-ui.js' | absoluteUrl }}"></script>
<link rel="stylesheet" href="{{ 'assets/styles/search.css' | absoluteUrl }}" />
